@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
    font-family:'나눔 고딕', 'Nanum Gothic', '돋움', Dotum, sans-serif;
}

header {
    background-color:#000;
    width:100%;
    
}

header div{
    font-size:40px;
    font-weight:bold;
    color:#fff;
    width:1000px;
    height:40px;
    margin:0;
    padding:40px;
    margin:0 auto;


}

nav div {
    width:1080px;
    margin:0 auto;

}

nav .navigator{
    display:inline-block;
    border-style:solid;
    border-width:1px;
    border-color:#d1d1d1;
    font-size:16px;
    color:#000;
    width:322px;
    text-align:center;
    padding:6.3px 0px;
   
   
}

nav .table{
    margin:40px 7px 40px 40px;
}


nav .form{
    margin:40px 7px;
}

nav .list{
    margin:40px 40px 40px 7px;
    
}

.navigator:hover{
    font-weight: bold;
    border-color:#454545;
}


section{
    width: 1080px;
    margin:0 auto;

}

section h2{
    border-bottom: solid 1px #454545;
    margin : 0px 40px 30px;
    padding : 0px 0px 20px 0px; 
    font-size:20px;
    font-weight:bold;
    color:#000;
}

h3{
    font-size:16px;
    color:#333;
    font-weight: bold;
    padding:12.8px 15px;
    background-color: #f7f7f7;
    border:solid 1px #d1d1d1;
    width:968px;
    margin: 0 auto;

}

article > .border{
    border:solid 1px #d1d1d1;
    padding :30px;
    width:938px;
    margin: 0 auto 30px;
    border-top:none; 
} 

.table1 table, .table1 td, .table1 th{
    border:1px solid #e4e4e4;
    background-color: #fbfbfb;
    font-size:12px;
    color:#555;
    border-collapse: collapse;
    text-align: center;
}


.table1{
    margin:0px 0px 40px;
}

.table1 table, tr{
    width:100%;
    height:28px;
    /*왜 thead는 안늘어나고 tbody만 늘어나지?
    .table table에만 height 28px을 줬을때도 변화없음
    height가 200px일때만 tbody만 늘어남
    그냥 tbody, thead에 스타일 적용하는건 잘 안되고
    tr에 적용하는걸 습관으로 하는게 편할듯
    */
}

.table1 caption, .table2 caption{
    font-size: 14px;
    color:#000;
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 10px;

}

.table2 table{
    background-color: #fbfbfb;
    font-size:12px;
    color:#555;
    width:100%;
    text-align:center;
    border-collapse: collapse;
}

.table2 th{
    border-top: 2px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
    /*thead에 border 설정하면 안나온다*/
    /*따라서 table, th, td이용하고 끊어지게 나오는거는 border-collapse활용*/
}

.table2 .foot{
    border-top:1px solid #a5a5a5;
    border-bottom:1px solid #e4e4e4;
    font-weight: bold;
}


.table2 .price{
    padding-right:70px;
    text-align: right;
    /*아니 우측정렬 어케하라고... 끝으로 가는데...
    padding줘서 해결
    근데 tfoot은 또 적용이 안되네 ^^*/
}

.table2 .content{
    width:200px;
}

.division, th{
    font-weight:bold;
}

footer{
    display:inline-block;
    border-top:solid 1px #d1d1d1;
    padding:30px;
    width:100%;
    margin:10px 0px 0px;
}

footer .address{
    font-size:12px;
    color:#999;
    text-align:center;

}

footer .copyright{
    font-size:12px;
    color:#000;
    text-align:center;
}
